name: C/C++ CI

on: [push]

env:
 GITHUB_RUN_ID: ${GITHUB_RUN_ID} 

jobs:
  build-ubuntu:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: Install spdlog and boost
      run: sudo apt install -y libspdlog-dev libboost-dev libboost-all-dev
    - name: configure
      run: mkdir build && cd build && cmake -DCMAKE_CXX_FLAGS="-Werror" ..
    - name: build
      run: cmake --build build
    - name: test
      run: cd build && ctest
    - name: cpack
      run: cmake --build build --target package
    - uses: actions/upload-artifact@v2
      with:
#        name: alexipro_otus_01.deb
        path: /home/runner/work/AlexiproOtus1/AlexiproOtus1/build/alexipro_otus_01-0.0.*-Linux.deb
      #cmake --build .. --target test && cmake --build .. --target package
