name: C/C++ CI

on: [push]

env:
 GITHUB_RUN_ID: ${GITHUB_RUN_ID} 

jobs:
  build-ubuntu:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: add repo boost
      run: sudo add-apt-repository -y ppa:mhier/libboost-latest && sudo apt update
    - name: Install spdlog and boost
      run: sudo apt install -y libspdlog-dev libboost
    - name: configure
      run: mkdir build && cd build && cmake -DCMAKE_CXX_FLAGS="-Werror" ..
    - name: build
      run: cmake --build build
    - name: test
      run: cd build && ctest
